*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 1900px;
    height: 1850px;
}
#background_img{
    position: relative;
    width: 100%;
    height: 1850px;
    object-fit: cover;
}
#logo_img{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 70%; /* Chiều rộng của hình ảnh đè lên */
    height: auto;
}
#content{
    position: absolute;
    top: 280px;
    left: 20px;
    width: 98%;
    height: 1500px;
    border-bottom: 10px double rgb(8, 172, 2);
}
#menu_n{
    position: absolute;
    width: 350px;
    height: 350px;
    border: 8px outset rgb(226, 226, 226);
    background-color: rgb(255, 255, 255);
}
#menu_n a{
    text-decoration: none;
}
#menu_n a p{
    font-size: 30px;
    color: rgb(182, 109, 158);
    padding: 10px;
    margin: 10px;
    text-transform: none;
}
#heading{
    position: absolute;
    left: 380px;
    width: 1900px;
    height: 1470px;
    color: white;
    font-size: 36px;
    border-left: 5px solid rgb(8, 172, 2);
    
}
#heading1{
    position: absolute;
    left: 30px;
    width: 1200px;
    height: 1370px;
    color: white;
}
#heading1 h1{
    background-color: rgb(8, 172, 2);
    padding-left: 100px;
    width: 1200px;
    font-style: italic;
    letter-spacing: 20px;
}
#heading1 p{
    margin-top: 30px;
    font-size: 30px;
    color: seashell;
    width: 1050px;
}
#heading1 p:nth-child(5){
    width: 1480px;
}
#heading1 h3{
    background-color: rgb(8, 172, 2);
    width: 500px; 
    padding-left: 10px;
    margin-top: 30px;
}
#heading1 ul{
    color: white;
    margin-top: 30px;
    margin-left: 55px;
}
#photo1_image{
    position: absolute;
    top: 400px;
    left: 1500px;
    width: 350px;
    height: auto;
}
#footer{
    position: absolute;
    left: 200px;
    top: 1500px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    width: 100%;
}
#footer p{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}